* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(#000000 50%, #07e387 50%);
}
body h1{
  color: #07e387;
}
.sidebar{
  position: fixed;
  left: -250px;
  width: 200px;
  height: 100%;
  background: #1e1e21; 
  transition: all .5s ease;
}
.sidebar header{
  font-size: 22px;
  color: #07e387;
  text-align: center;
  line-height: 70px;
  background: #353638;
  user-select: none; 
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid black;
  text-decoration: none;
}
ul li:hover a{
  color: #07e387;
}

.menu{
  text-align: center;
  background-color: #07e387;
  width: min(90%, 34em);
  padding: 2.5em;
  border-radius: 1.5em;
  position: absolute;
  transform: translate(-50%, -30%);
  left: 50%;
  transition: all .5s;
}
.menu a{
  color: #1e1e21;
  padding: 0.5em;
  text-decoration: none;
}
.menu a:hover{
  color: #ffffff;
}
.peserta {
  background-color: #1e1e21;
  width: min(90%, 34em);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 2em;
  border-radius: 0.5em;
  align-items: center;
  transition: all .5s;
}
.versus{
  text-align: center;
  background-color: #353638;
  padding: 0,5em;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.team {
  text-align: center;
  background-color: #353638;
  padding: 2em;
  border-radius: 0.5em;
}
.nopeserta {
  text-align: center;
  grid-column: 1/4;
}
button {
  cursor: pointer;
}
.versus p {
  color: #ffffff;
}
.peserta h2 {
  color: #07e387;
}
.team h2 {
  color: #07e387;
}
.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.peserta input{
  width: min(90%, 34em);;
  outline: none;
  font-size: 2.5em;
  background: transparent;
  border: transparent;
  text-align: center;
  color: #07e387;
}
.versus input{
  width: min(90%, 34em);;
  outline: none;
  font-size: 1em;
  background: transparent;
  border: transparent;
  text-align: center;
  color: #07e387;
}
#check{
  display: none;
}
label #btn, label #cancle{
  position: absolute;
  cursor: pointer;
  background-color: #353638;
  border-radius: 3px;
}
label #btn{
  top: 15%;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancle{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 200px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancle{
  left: 165px;
}
#check:checked ~ .menu{
  margin-left: 200px;
  transition: all .5s;
}
#check:checked ~ .peserta{
  margin-left: 200px;
  transition: all .5s;
}